body {
 background-color:beige
}

h1 {
    font-size: 30px;
}

#banner {
    width: 10cm;
    height: auto;
    image-orientation: from-image;
}

p {
    text-align: justify;
}

#missao {
    font-size: 20px;
}

strong {
    color:blue;
}
